/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/spec/fixtures/results/*
/tmp/

# Ignore ruby_mine folder
/.idea

*~
.DS_Store
.svn
.*.swp
___*

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep

# Overcommit configuration files (added by before_commit)
.overcommit*
.git-hooks/
.rubocop.yml
.htmlhintrc

# Ignore developer specific .rspec files
.rspec-local

./ea-address_lookup*.gem

.byebug_history
