/.git-hooks/pre_commit/il8n_missing.rb
/.git-hooks/pre_commit/il8n_unused.rb
/.git-hooks/pre_commit/rspec_focus_check.rb
/.overcommit.yml
/.overcommit_gems.rb
/.overcommit_gems.rb.lock
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.byebug_history
.DS_Store
.rspec-local
